gradio==4.26.0
gradio_client==0.15.1
lime==0.2.0.1
llama-parse==0.5.15
nest-asyncio==1.6.0
numpy==1.26.4
pandas==2.2.3
pdfplumber==0.11.4
Pillow==10.4.0
pydantic==2.11.1
pydantic-settings==2.8.1
PyMuPDF==1.24.14
requests==2.32.3
uvloop==0.21.0; platform_system != "Windows"

